<tal:block>
<script>
$(function(){
    $('#deleteSelectedButton').addClass('disabled');

    $('#deleteSelectedButton').on('click', function() {
        var pattern = new RegExp("disabled");
        if (!pattern.test($(this).prop('class'))) {
            if (confirm('{i18n:Do you want to confirm the deletion?}')) {
                var removalList = new Array();
                $('[id^=mediacheckbox]').each(function() {
                    if ($(this).is(':checked')) {
                        removalList.push($(this).prop('id').split('_')[1]);
                    }
                });

                if (removalList.length) {
                    $('#deleteSelectedButton').addClass('disabled');
                    var ids = removalList.join(',');
                    $.ajax({
                        type: 'POST',
                        url: Pinax.ajaxUrl + 'Delete',
                        data: 'ids=' + ids,
                        success: function(data) {
                            location.reload();
                        },
                        error: function() {
                            alert('{i18n:Error}');
                            $('#deleteSelectedButton').removeClass('disabled');
                        }
                    });
                }
            }
        }

        return false;
    });

    $('[id^=mediacheckbox]').on('change', function() {
        var oneChecked = false;
        $('[id^=mediacheckbox]').each(function() {
            if ($(this).is(':checked')) {
                oneChecked = true;
                return;
            }
        });

        if (oneChecked) {
            $('#deleteSelectedButton').removeClass('disabled');
       } else {
            $('#deleteSelectedButton').addClass('disabled');
       }
    });

    $("a.lightbox").colorbox({photo:true, maxHeight: 300, maxWidth: 300, scalePhotos: true});
    $("a.lightbox-iframe").colorbox({iframe:true, width:"95%", height:"95%"});
});
</script>
<div tal:attributes="class php:__Config::get('pinax.css.rowfluid')">
    <ul class="thumbnails">
        <li tal:attributes="class php:__Config::get('pinax.css.col2')" tal:repeat="item Component/records">
            <input type="checkbox" tal:attributes="id php: 'mediacheckbox_' . item.media_id" class="delete-media js-delete-media" />
            <a class="thumbnail" tal:attributes="href item/__url__; title item/media_title">
                <img class="js-pinaxMediaPicker" tal:attributes="src item/thumb_filename; id item/media_id; fileName item/media_fileName; title item/media_title; data-type item/media_type" />
            </a>
            <div class="title">
                <div class="inner" tal:content="item/media_title"></div>
            </div>
            <div class="actions">
                <a tal:condition="php: item.media_type==='IMAGE'" tal:attributes="href item/__urlPreview__; title php:__T('Preview')" class="lightbox"><i class="icon-eye-open icon-white"></i></a>
                <a tal:condition="php: item.media_type==='PDF'" tal:attributes="href item/__urlPreview__; title php:__T('Preview')" class="lightbox-iframe"><i class="icon-eye-open icon-white"></i></a>
                <a tal:condition="php: item.media_type!=='IMAGE' AND item.media_type!=='PDF'" tal:attributes="href item/__urlPreview__; title php:__T('Preview')" target="_blank"><i class="icon-eye-open icon-white"></i></a>
                <a tal:attributes="href item/__urlDownload__; title php:__T('Download')"><i class="icon-download-alt icon-white"></i></a>
                <a tal:condition="item/__url__" tal:attributes="href item/__url__; title php:__T('Edit')"><i class="icon-pencil icon-white"></i></a>
                <a tal:condition="item/__urlDelete__" onclick="if (!confirm('Sei sicuro di voler cancellare il record?')){return false;}" tal:attributes="href item/__urlDelete__; title php:__T('Delete')"><i class="icon-remove icon-white"></i></a>
            </div>
        </li>
    </ul>
</div>
</tal:block>
